// Generated MAPINFO lump for gzArchipelago.

GameInfo {
  AddEventHandlers = "GZAP_PlayEventHandler", "GZAP_PerLevelHandler", "GZAP_DataPackageEventHandler"
}

{% if generate_mapinfo %}
clearepisodes
{% endif %}

episode gzaphub
{
  name = "Archipelago Hub"
}

cluster 38281
{
  hub
}

defaultmap
{
  next = "GZAPHUB"
  secretnext = "GZAPHUB"
  {% if respawn %}
  allowrespawn
  {% endif %}
  noclustertext
  nointermission
  {% if persistence %}
  cluster = 38281
  compat_multiexit
  {% endif %}
}

// TODO: make the hub prettier, maybe find some nice music for it
map gzaphub "Archipelago Hub"
{
	sky1 = "SKY1"
	music = "$MUSIC_RUNNIN"
}

// Same as the real hub, but not part of the hubcluster, event in persistent mode,
// so that traveling to it resets the rest of the game.
map gzaprst "Archipelago Hub"
{
	sky1 = "SKY1"
	music = "$MUSIC_RUNNIN"
  cluster = 0
}

{% if generate_mapinfo %}
// Only include this part if generate_mapinfo is set, otherwise we just inherit
// the mapinfo from the parent WAD.

{% for map in maps %}
{% set info = map.mapinfo %}
map {{map.map}} {% if info.is_lookup %}lookup{% endif %} "{{info.title}}"
{
  levelnum = "{{info.levelnum}}"
  sky1 = "{{info.sky1}}", {{info.sky1speed}}
  sky2 = "{{info.sky2}}", {{info.sky2speed}}
  music = "{{info.music}}", {{info.music_track}}
  {% if info.cluster and not persistence %}
  cluster = {{info.cluster}}
  {% endif %}
  {% for flag in info.flags %}
  {{flag}}
  {% endfor %}
}
{% endfor %}
{% endif %}
