version "4.12.0"

#include "ap_scripts.zs"

class GZAP_HintInfo {
  string item_map;
  string loc_map;
  string loc_name;
  int loc_id;
}

// We reify the tokens for all maps in the wad here, not just maps included in
// the rando, so that we don't need to worry about excluding the right things
// from RegisterItems() below.
{% for map in wad.all_maps() %}
class GZAP_LevelAccess_{{map.map}} : GZAP_LevelAccess { Default { GZAP_InventoryToken.Map "{{map.map}}"; } }
class GZAP_Automap_{{map.map}} : GZAP_Automap { Default { GZAP_InventoryToken.Map "{{map.map}}"; } }
class GZAP_LevelCleared_{{map.map}} : GZAP_LevelCleared { Default { GZAP_InventoryToken.Map "{{map.map}}"; } }
{% endfor %}

// Types for weapon tokens.
{% for item in wad.items() %}
{% if item.has_category('weapon') %}
{% if item.map %}
class {{item.typename}} : GZAP_WeaponGrant { Default { GZAP_InventoryToken.Map "{{item.map}}"; GZAP_WeaponGrant.Typename "{{item.weapon}}"; } }
{% else %}
class {{item.typename}} : GZAP_WeaponGrant { Default { GZAP_InventoryToken.Map "*"; GZAP_WeaponGrant.Typename "{{item.weapon}}"; } }
{% endif %}
{% endif %}
{% endfor %}

class GZAP_DataPackageEventHandler : StaticEventHandler {
  Map<int, int> locations_to_items;
  // Keyed by item name.
  Map<string, GZAP_HintInfo> hints;
  GZAP_PlayEventHandler peh;

  override void OnRegister() {
    console.printf("Initializing Archipelago data package from apworld version %s", "{{mod_version}}");
    peh = GZAP_PlayEventHandler.Get();
    let apstate = GZAP_RandoState.Get();

    peh.RegisterGameInfo("{{player}}", "{{seed}}", "{{wad.name}}", {{spawn_filter}}, {{singleplayer}});
    {% if pretuning %}
    peh.pretuning = true;
    {% endif %}

    apstate.win_conditions.nrof_maps = {{win_map_count}};
    {% for map in win_map_names %}
      apstate.win_conditions.specific_maps.Insert("{{map}}", true);
    {% endfor %}

    RegisterMaps(apstate);
    RegisterKeys(apstate);
    RegisterItems(apstate);
    RegisterLocalLocationContents(apstate);
    {% if singleplayer %}
    RegisterHints(apstate);
    {% endif %}
    GrantStartingItems(apstate);
    apstate.PostInit({{per_map_weapons}});

    console.printf("Archipelago data package initialized.");
  }

  void RegisterKeys(GZAP_RandoState apstate) {
    {% for key in keys|sort(attribute=scopename) %}
    apstate.RegisterKey("{{key.scopename}}", "{{key.tag}}", "{{key.typename}}", {{id(key.fqin())}})
      {% for map in key.maps %}
      .AddMap(apstate, "{{map}}"){% if loop.last %};{% endif %}

{% endfor %}
    {% endfor %}
  }

  void RegisterMaps(GZAP_RandoState apstate) {
    console.printf("Registering %d maps.", {{maps|count}});
    {% for map in maps %}
      apstate.RegisterMap("{{map.map}}", "{{map.checksum}}", {{map.mapinfo.cluster}}, {{id(map.exit_location_name())}});
      {% if map.clustername and map.rank == 0 %}
      apstate.GetRegion("{{map.map}}").visited = true;
      {% endif %}
      {% for check in locations(map.map) %}
        {% if check.pos.has_coords() %}
        apstate.RegisterCheck("{{map.map}}", {{check.id}}, {{check.pos.as_vec3()}}, "{{escape(check.name())}}", "{{check.orig_item.typename}}",
            "{{escape(item_type_at(check.name()))}}", "{{escape(item_name_at(check.name()))}}", {{flags_at(check)}});
        {% elif check.pos.is_secret() %}
        apstate.RegisterSecretCheck("{{map.map}}", {{check.id}}, "{{escape(check.name())}}", {{check.pos.secret_id}}, {{flags_at(check)}}); // {{item_name_at(check.name())}}
        {% endif %}
      {% endfor %}
    {% endfor %}
    console.printf("Registering %d local-only checks.", {{local_locations|count}});
    {% for check in local_locations %}
      console.printf("{{escape(check.name())}}");
      apstate.RegisterCheck("{{check.pos.map}}", {{check.id}}, {{check.pos.as_vec3()}}, "{{escape(check.name())}}", "{{check.orig_item.typename}}",
          "{{escape(check.item.typename)}}", "{{escape(check.item.name())}}", AP_IS_LOCAL);
    {% endfor %}
  }

  void RegisterItems(GZAP_RandoState apstate) {
    console.printf("Registering %d items.", {{items|count}});
    // TODO: can we include keys in RegisterItem without breaking anything?
    {% for item in items %}
      {% if item.typename and not item.has_category('key') %}
      apstate.RegisterItem({{item.id}}, "{{item.typename}}", "{{escape(item.name())}}");
      {% endif %}
    {% endfor %}
  }

  void RegisterLocalLocationContents(GZAP_RandoState apstate) {
    {% if singleplayer %}
    console.printf("Populating singleplayer item table.");
      {% for locid, itemid in singleplayer_items.items() %}
      locations_to_items.Insert({{locid}}, {{itemid}});
      {% endfor %}
    {% endif %}
    console.printf("Populating local-only item table.");
      {% for loc in local_locations %}
      locations_to_items.Insert({{-loc.id}}, {{loc.item.id}});
      {% endfor %}
  }

  {% if singleplayer %}
  void RegisterHints(GZAP_RandoState apstate) {
    console.printf("Populating singleplayer hint table.");
      {% for map in maps %}{% for loc in locations(map.map) %}
      {% if item_at(loc.name()) and item_at(loc.name()).map %}
      PrepareHint("{{escape(item_name_at(loc.name()))}}", "{{item_at(loc.name()).map}}", "{{loc.pos.map}}", "{{escape(loc.name())}}", {{loc.id}});
      {% endif %}
      {% endfor %}{% endfor %}
  }
  {% endif %}

  void GrantStartingItems(GZAP_RandoState apstate) {
    console.printf("Granting starting inventory.");
    {% for item in starting_items %}
      apstate.GrantItem({{item.code}}); // {{item.name}}
    {% endfor %}
    {% for typename, count in local_starting_items.items() %}
      apstate.GrantItemByName("{{typename}}", {{count}});
    {% endfor %}
  }

  void PrepareHint(string item_name, string item_map, string loc_map, string loc_name, int loc_id) {
    let hint = GZAP_HintInfo(new("GZAP_HintInfo"));
    hint.item_map = item_map;
    hint.loc_map = loc_map;
    hint.loc_name = loc_name;
    hint.loc_id = loc_id;
    hints.Insert(item_name, hint);
  }

  override void NetworkProcess(ConsoleEvent evt) {
    // We only get these messages for (a) checks in singleplayer mode, where
    // there is no host to grant them, and (b) local-only checks.
    if (evt.name == "ap-check") {
      let locid = evt.args[0];
      GZAP_RandoState.Get().MarkLocationCollected(locid);
      let itemid = locations_to_items.Get(locid);
      if (itemid) {
        GZAP_RandoState.Get().GrantItem(itemid);
      }
    }
  }

  override void NetworkCommandProcess(NetworkCommand cmd) {
    if (!peh.IsSingleplayer()) return;
    if (cmd.command == "ap-hint") {
      // Player requested a hint from the level select menu.
      // In singleplayer mode, the client isn't connected, so we just issue
      // the hint from here.
      // This is going to be a fully qualified name, e.g. "Blue Skull (MAP02)"
      string item = cmd.ReadString();
      let hint = hints.GetIfExists(item);
      if (!hint) {
        console.printf("No hints available for item: %s", item);
        return;
      }

      let apstate = GZAP_RandoState.Get();
      let nick = apstate.slot_name;

      apstate.RegisterHint(hint.item_map, item, nick, hint.loc_name);
      apstate.GetRegion(hint.loc_map).RegisterPeek(hint.loc_id, nick, item);
    }
  }
}

// Version mismatch sentinel. If the API version has changed between the generating
// apworld and the pk3, this will not resolve and will result in an error.
class GZAP_VERSION_MISMATCH_CHECKER {
  void Init() {
    let VERSION_MISMATCH = VERSION_MISMATCH__APWORLD_0_8_5_UNSTABLE_52__DOES_NOT_MATCH_PK3_VERSION;
  }
}
